.App {
  background-color: rgb(245, 240, 240);
  box-sizing: border-box;
  width: 100%;
  min-height: 120vh;
  text-align: center;
}



.postsBox{
  box-sizing: border-box;
  padding-top: 50px;
  width: 95%;
  margin-left: 2.5%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}
.aPost{
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: left;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 5px;
  width: 32%;
  min-height: 250px;
  margin-left: 1.3%;
  color: #fff;
  margin-bottom: 50px;
  border: solid 3px white;
  transition: 1s;
  background-image: url("https://source.unsplash.com/random");
  background-size: cover;
  background-repeat: no-repeat;
}
.aPost:hover{
  top: -10px;
  background-color: rgba(26, 25, 25, 0.678);
}
.postContent{
  position: relative;
  z-index: 7;
}
.postCover{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgb(20, 20, 20);
  opacity: 0.4;
  z-index: 1;
}
.postImgBox{
  position: relative;
  width: 80%;
  margin-left: 10%;
  margin-top: 20px;
  padding-bottom: 70%;
  margin-bottom: 20px;
  border: none;
}
.postImg{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.postTitle{
  width: 100%;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 10px;
}
.postBody{
  width: 100%;
}

.postBtn{
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: orange;
  transition: 1s;
  color: #fff;
  width: 10%;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.postBtn:hover{
  background-color: rgba(255, 196, 0, 0.74);
  /**/
}


.noPost{
  text-align: center;
  width: 100%;
  height: 50px;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
}


@media screen and (max-width: 850px ) {
  .postsBox{
    flex-direction: column;
  }
  .aPost{
    width: 90%;
    margin-left: 5%;
  }
}